<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/layout.css}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>form Cliente</title>
</head>
<body>
	<h1>Inserisci i dettagli del cliente</h1>
	<form action="#" th:action="@{/clienti/addCliente}"
		th:object="${cliente}" method="post">
		<p>
			Ragione Sociale: <input type="text" th:field="*{ragioneSociale}" />
		</p>
		<p>
			Tipo Cliente: <select th:field="*{tipoCliente}"
				name="enumtipocliente">
				<option
					th:each="e : ${T(it.epicode.be.energy.model.TipoCliente).values()}"
					th:value="${e}" th:text="${e}"></option>
			</select>
		</p>
		<p>
			Partita iva: <input type="text" th:field="*{iva}" />
		</p>
		<p>
			Email: <input type="text" th:field="*{email}" />
		</p>

		<p>
			Data inserimento: <input type="date" pattern="yyyy-MM-dd"
				th:field="*{dataInserimento}" />
		</p>
		<p>
			Data ultimo Contatto: <input type="date" pattern="yyyy-MM-dd"
				th:field="*{dataUltimoContatto}" />
		</p>
		<p>
			Fatturato Annuale: <input type="text" th:field="*{fatturatoAnnuale}" />
		</p>

		<p>
			Pec: <input type="text" th:field="*{pec}" />
		</p>

		<p>
			Telefono: <input type="text" th:field="*{telefono}" />
		</p>
		<p>
			Email Contatto: <input type="text" th:field="*{emailContatto}" />
		</p>
		<p>
			Nome Contatto: <input type="text" th:field="*{nomeContatto}" />
		</p>
		<p>
			Cognome Contatto: <input type="text" th:field="*{cognomeContatto}" />
		</p>
		<p>
			Telefono Contatto: <input type="text" th:field="*{telefonoContatto}" />
		</p>
		<br>

		<p>
			Via sede legale: <input type="text" th:field="*{sedeLegale.via}" />
		</p>

		<p>
			Numero Civico sede legale: <input type="text"
				th:field="*{sedeLegale.civico}" />
		</p>

		<p>
			Cap sede legale: <input type="text" th:field="*{sedeLegale.cap}" />
		</p>

		<p>
			Località sede legale: <input type="text"
				th:field="*{sedeLegale.localita}" />
		</p>
		<p>
			Comune sede legale: <select th:field="*{sedeLegale.comune}"
				name="sedeLegale">
				<!--  <option selected value=""> -- select an option -- </option> -->
				<option th:each="c : ${listaComuni}" th:value="${c.id}"
					th:text="${c.nome}" />
			</select>
		</p>
		<br> <br>
		<p>
			Via sede operativa: <input type="text"
				th:field="*{sedeOperativa.via}" />
		</p>
		<p>
			Numero Civico sede operativa: <input type="text"
				th:field="*{sedeOperativa.civico}" />
		</p>

		<p>
			Cap sede operativa: <input type="text"
				th:field="*{sedeOperativa.cap}" />
		</p>

		<p>
			Località sede operativa: <input type="text"
				th:field="*{sedeOperativa.localita}" />
		</p>
		<p>
			Comune sede operativa: <select th:field="*{sedeOperativa.comune}"
				name="sedeOperativa">
				<option th:each="c : ${listaComuni}" th:value="${c.id}"
					th:text="${c.nome}" />
			</select>
		</p>
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
	</form>
	<a href="/clienti/mostraelenco">Lista Clienti</a>

	<div class="link-home">
		<a href="/">Torna alla Home</a>
	</div>
</body>
</html>