<html>
<head>
  <title>Epic Energy Services</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body>
<div class="header-menu">Epic Energy Services Home Page</div>
<div class="container-menu">
  <div class="item-menu"><a href="/comunibootstrap/mostraelenco">Elenco Comuni</a></div>
  <div class="item-menu"><a href="/provincebootstrap/mostraelenco">Elenco Province</a></div>
  <div class="item-menu"><a href="/clientibootstrap/mostraelenco">Elenco Clienti</a></div>
  <div class="item-menu"><a href="/indirizzibootstrap/mostraelenco">Elenco Indirizzi</a></div>
  <div class="item-menu"><a href="/clienti/mostraformaggiungi">Aggiungi Cliente</a></div>
  <div class="item-menu"><a href="/clienti/mostraformfattura">Inserisci Fattura</a></div>
  <div class="item-menu"><a href="/fatturebootstrap/mostraelenco">Elenco Fatture</a></div>
</div>
<div class="footer">Powered by Epicode School</div>
</body>
</html>